<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>thedoritos</string>
	<key>Builder Version</key>
	<string>12604.4.7.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>esa-niar</string>
	<key>CFBundleIdentifier</key>
	<string>com.kakeragames.esa-niar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Description</key>
	<string>Search esa.io from Google</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Website</key>
	<string>https://github.com/thedoritos/esa-niar</string>
</dict>
</plist>
